statemachine/video_processor.asl.json
{
  "Comment": "Video processing state machine",
  "StartAt": "Download",
  "States": {
    "Download": {
      "Type": "Task",
      "Resource": "${DownloadVideoFunctionArn}",
      "Parameters": {
        "quantity.$": "$.quantity",
        "gameId.$": "$.gameId"
      },
      "Next": "PreProcess"
    },
    "PreProcess": {
      "Type": "Map",
      "Iterator": {
        "StartAt": "CallPreProcess",
        "States": {
          "CallPreProcess": {
            "Type": "Task",
            "Resource": "${PreProcessFunctionArn}",
            "Parameters": {
              "key.$": "$",
              "bucket.$": "$$.Execution.Input.bucket"
            },
            "Retry": [
              {
                "ErrorEquals": ["Lambda.TooManyRequestsException"],
                "IntervalSeconds": 90,
                "MaxAttempts": 5,
                "BackoffRate": 1
              }
            ],
            "End": true
          }
        }
      },
      "Next": "Concatenate"
    },
    "Concatenate": {
      "Type": "Task",
      "Resource": "${ConcatenateVideoFunctionArn}",
      "Parameters": {
        "bucket.$": "$$.Execution.Input.bucket",
        "keys.$": "$"
      },
      "End": true
    }
  }
}
